.card{
    width: 420px;
    background-color: #141414;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #bcbcbc;
    grid-row: 1rem;
}

.card-image{
    margin-left: 10px;
}

.icons{
    margin-left: 10px;
    display: flex;
    gap: 1rem;
}

.likes{
    margin-left: 10px;
}

.match{
    margin-left: 10px;
    display: flex;
    gap: 1rem;
}

#match-percent{
    color: #46d369;
}

.genre{
    margin-left: 10px;
    display: flex;
    gap: 1rem;
}